<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.component.css">
    <title>Ma Page</title>
</head>
<body>

    <header>
        <div class="header-buttons">
            <div class="profile-info">
                <img src="../assets/img/icon.jpeg" alt="profil">
                <span class="username">user name</span>
            </div>
        <button  class="logout-button" routerLink="/" > Déconnexion </button>
        <button class="recipes-button" routerLink="/myrecipes" >Mes Recettes</button>
    </div>
</header>
<div class="search-container">
    <input type="text" placeholder="Rechercher...">
    <button class="search-button">
        <img src="../assets/img/loop-icon.png" alt="Rechercher">
        Chercher
    </button>
</div>
<main class="main-container">
    <div class="recipes-container">
        <div class="recipe">
            <input type="text" id="name" placeholder="Nom de la recette" />
            <input type="text" id="ingredients" placeholder="les ingredients de la recette" />
            <input type="text" id="instructions" placeholder="les instructions de la recette" />
            <input type="text" id="tempsPreparation" placeholder="temps de Preparation de la recette" />
            <input type="text" id="tempsCuisson" placeholder="temps de Cuisson de la recette" />
            <input type="text" id="difficulte" placeholder="Des difficulte??" />
            <div class="recipe-input">
                <label for="recipe-image" class="upload-label">
                    <img src="../assets/img/cam.png" >
                </label>
                <input type="file" id="recipe-image" accept="image/*">
            </div>
            
            <div class="share-buttons">
                <button class="share-button" >
                    Partager
                </button>
                <button class="cancel-button" onclick="cancelShare()">Annuler</button>
            </div>
        </div>
    </div>
   
</main>
<div class="recipes-container">
    <div class="recipe" id="name_r" routerLink="/details"> Recette 1
        <img class="recipe"src="../assets/img/couscous.jpg" alt="image" >
    </div>
</div>
</body>
</html>